-- SQL Script to fix character encoding issues in Services table
-- Run this script in SQL Server Management Studio or via sqlcmd

-- First, clear existing data
DELETE FROM ServiceArticles;
DELETE FROM Services;

-- Reset identity column
DBCC CHECKIDENT ('Services', RESEED, 0);

-- Insert Services with proper Unicode encoding

-- Insert Service Articles for LoglarÄ±n saxlanÄ±lmasÄ± (Service ID 2)

-- Verify the data
SELECT * FROM Services;
SELECT * FROM ServiceArticles;
