-- Unicode-safe reseed for Products, ProductSections, Equipment (+Features/Specs), Sliders, Employees, References
-- Safe to run multiple times
BEGIN TRAN;

-- Clear child tables first
DELETE FROM ProductSections;
DELETE FROM EquipmentFeatures;
DELETE FROM EquipmentSpecifications;
-- Keep Services as already fixed separately
-- DELETE FROM ServiceArticles; DELETE FROM Services;
DELETE FROM Sliders;
DELETE FROM Employees;
DELETE FROM [References];
DELETE FROM Products;
DELETE FROM Equipment;

-- Reseed identities
DBCC CHECKIDENT ('Products', RESEED, 0);
DBCC CHECKIDENT ('Equipment', RESEED, 0);
DBCC CHECKIDENT ('Sliders', RESEED, 0);
DBCC CHECKIDENT ('Employees', RESEED, 0);
DBCC CHECKIDENT ('[References]', RESEED, 0);

-- Products
SET IDENTITY_INSERT Products ON;
SET IDENTITY_INSERT Products OFF;

-- Product Sections

-- Equipment
SET IDENTITY_INSERT Equipment ON;
SET IDENTITY_INSERT Equipment OFF;

-- Equipment Features

-- Equipment Specifications

-- Sliders
SET IDENTITY_INSERT Sliders ON;
INSERT INTO Sliders (Id, Name, ImageUrl, OrderIndex, IsActive, CreatedAt) VALUES
(1, N'slider1', N'/assets/slider1.png', 1, 1, GETDATE()),
(2, N'slider2', N'/assets/slider2.png', 2, 1, GETDATE()),
(3, N'slider3', N'/assets/slider3.png', 3, 1, GETDATE()),
(4, N'slider4', N'/assets/slider4.png', 4, 1, GETDATE()),
(5, N'slider5', N'/assets/slider5.png', 5, 1, GETDATE()),
(6, N'slider6', N'/assets/slider6.png', 6, 1, GETDATE());
SET IDENTITY_INSERT Sliders OFF;

-- Employees (team)
SET IDENTITY_INSERT Employees ON;
SET IDENTITY_INSERT Employees OFF;

-- References (logos)
SET IDENTITY_INSERT [References] ON;
SET IDENTITY_INSERT [References] OFF;

COMMIT;

-- Verify
SELECT COUNT(*) AS Products FROM Products;
SELECT COUNT(*) AS ProductSections FROM ProductSections;
SELECT COUNT(*) AS Equipment FROM Equipment;
SELECT COUNT(*) AS EquipmentFeatures FROM EquipmentFeatures;
SELECT COUNT(*) AS EquipmentSpecifications FROM EquipmentSpecifications;
SELECT COUNT(*) AS Sliders FROM Sliders;
SELECT COUNT(*) AS Employees FROM Employees;
SELECT COUNT(*) AS [References] FROM [References];

