-- Unicode-safe seed for Products and ProductSections (from JS data)
SET XACT_ABORT ON;
BEGIN TRAN;

-- Assumes Products and ProductSections are empty
SET IDENTITY_INSERT Products ON;
SET IDENTITY_INSERT Products OFF;

-- Sections

COMMIT;

-- Verify
SELECT COUNT(*) AS Products FROM Products;
SELECT COUNT(*) AS ProductSections FROM ProductSections;

